<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css"> </head>

<body class="bg-info text-white">
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills bg-primary text-center w-100 p-2">
          <li class="nav-item"> <a href="#" class="active nav-link">Przegląd</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">Beacony</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">Lokacje</a> </li>
          <li class="nav-item-dropdown">
            <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Konto </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Zmień Hasło</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Wyloguj</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="nav flex-column m-5">
    <li class="active"><a class="btn btn-primary btn-lg" data-toggle="tab" href="#home">Zdjęcie</a></li>
    <li><a class="btn btn-primary btn-lg" data-toggle="tab" href="#menu1">Opis</a></li>
    <li><a class="btn btn-primary btn-lg" data-toggle="tab" href="#menu2">Lista Beaconów</a></li>
  </ul>
  </div>

  <div class="col-md-6"><div class="tab-content" >
    <div id="home" class="tab-pane fade in active">
      <h3>Tutaj będzie zdjęcie :)</h3>
      <a href="#" class="btn btn-primary btn-lg ">Zmień zdjęcie<br></a>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Opis Lokacji</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Lista Beaconów</h3>
      <p>jestem sobie listą wszystkich beaconów, przeczytaj moje id i podaj aby dodać lub usunąć z danej lokacji :)</p>
      <a href="#" class="btn btn-primary btn-lg ">Dodaj beacon do lokacji<br></a>
      <a href="#" class="btn btn-primary btn-lg ">Usuń wybrany beacon<br></a>

    </div>
  </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 m-5" style="text-align:center;">
    <a href="#" class="btn btn-primary btn-lg ">Dodaj lokację<br></a>
    <a href="#" class="btn btn-primary btn-lg ">Usuń lokację<br></a>
  </div>
</div>
<div class="row m-5">
  <div class="col-md-4 align-self-center"></div>
  <div class="col-md-4 align-self-center">
    <ul class="pagination pagination-lg">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
      </li>
      <li class="page-item"> <a class="page-link" href="#">1</a> </li>
      <li class="page-item"> <a class="page-link" href="#">2</a> </li>
      <li class="page-item"> <a class="page-link" href="#">3</a> </li>
      <li class="page-item"> <a class="page-link" href="#">4</a> </li>
      <li class="page-item"> <a class="page-link" href="#">5</a> </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
      </li>
    </ul>
  </div>
  <div class="col-md-4 align-self-center"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>